<div class="container-panel" >
    <div class="container-panel-user" >
        <img src="./assets/resources/user.png" width="200" height="200">
    </div>
    <div class="container-panel-options" >
        <ul>
            <li><a routerLink="/panel/reports" ><button class="btn-options" >Reportes</button></a></li>
            <li><a routerLink="/panel/registration-income" ><button class="btn-options" >Registrar Ingresos</button></a></li>
            <li><a routerLink="/panel/registration-expenses" ><button class="btn-options" >Registrar Egresos</button></a></li>
            <li><a routerLink="/panel/register-income" ><button class="btn-options" >Registro de Ingresos</button></a></li>
            <li><a routerLink="/panel/register-expenses" ><button class="btn-options" >Registro de Egresos</button></a></li>
        </ul>
    </div>
</div>